# Conexão com banco raiox
PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=bdraiox
DB_PORT=3307

# Conexão com banco corpore
PACIENTES_DB_HOST=localhost
PACIENTES_DB_USER=root
PACIENTES_DB_PASSWORD=
PACIENTES_DB_DATABASE=corpore
PACIENTES_DB_PORT=3307