.navbar {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-right: 1px solid #a6a0aa;
}
  
  .navbar a {
  margin: 10px 0;
  padding: 5px 5px 0 5px;
  position: relative;
  display: inline-block;
}

.Logo {
  color: #454547;
  margin-top: 5px;
  margin-bottom: 20px;
}

.active-link {
  background-color: #4c6ef5;
  color: #eff2ff;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.link {
  color: #000000;
  transition: all 0.3s ease;
}

.link:hover {
  color: #454547;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: #414141;
  color: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 2px;
  z-index: 10;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
